<h1>New game</h1>
<p><%= @letters %></p>
<div><span><%= @letters[0] %></span><span><%= @letters[1] %></span><span><%= @letters[2] %></span><span><%= @letters[3] %></span><span><%= @letters[4] %></span><span><%= @letters[5] %></span><span><%= @letters[6] %></span><span><%= @letters[7] %></span><span><%= @letters[8] %></span><span><%= @letters[9] %></span></div>

<div class="forms">
  <form action="/score" method="post" data-turbo="false">
    <input type="text" name="word" class="form-control">
    <input type="submit" value="Play" class="btn btn-primary">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  </form>
</div>
